

      <header>
          <div id="back" class="view" style="background-image: url('http://eskipaper.com/images/3d-wallpaper-12.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-black-light align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 mb-4 white-text text-center wk1">
                    <h1 data-wow-delay="0.3s"><span>GITHUB-SEARCH</span></h1>
                    <p class="" data-wow-delay="1s"><strong>FIND REPOSITORIES OR USERS HERE</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>

            <app-display></app-display>

            <marquee behavior="" direction="right">
                <footer class="page-footer font-small elegant-color">

              
              <div class="footer-copyright text-center py-3">MSB © 2019 Copyright:
              </div>
              

            </footer>
              </marquee>
            
            
            
