
body{
  background-image: url("http://webneel.com/wallpaper/sites/default/files/images/10-2017/2-rain-wallpaper.jpg")
}
html,
body,
header,
.view {
  height: 90%;
}

h1{
  color: turquoise;
  font-size: 50px;
  font-family: 'Monoton', cursive;
}
p strong {
  font-size: 30px;
  font-style: italic;
  font-family: 'Lobster Two', cursive;
}
